aside{
  width: 300px;
  background-color: white;
  border-radius: 10px;
  min-height: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

aside h3{
  color: var(--primary);
  margin-bottom: 10px;
  text-align: center;
}

.staff-lists {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 250px;
  overflow-y: auto;

  scrollbar-width: 5px;
  scrollbar-color: var(--primary);
}

.staff-lists::-webkit-scrollbar {
  width: 8px;
}

.staff-lists::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.staff-lists::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

.staff-lists::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 165, 0, 0.5);
  cursor: pointer;
}

.staff-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.staff-card:hover {
  background-color: #f1f1f1;
}

.staff-card img.staff-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.staff-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.staff-info strong {
  font-size: 16px;
}

.staff-info p {
  font-size: 14px;
  margin: 0;
  color: #555;
}

.staff-card.owner .staff-info p {
  color: var(--Owner);
}

.staff-card.amministratore .staff-info p {
  color: var(--Amministratore)
}

.staff-card.developer .staff-info p {
  color: var(--Developer);
}

.staff-card.moderatore .staff-info p {
  color: var(--Moderatore);
}

.staff-card.builder .staff-info p {
  color: var(--Builder);
}

@media (max-width: 768px){
  aside{
    width: 100%;
  }
}