:root{
  --primary: #ff8c00;
  --primary-rgb: 255, 140, 0;
  --secondary: rgba(255, 140, 0, 0.7);
  --font: 'Verdana', sans-serif;
  --hover-color: #ffffff;
  --transition-speed: 0.3s;
  --box: 0 4px 12px rgba(0, 0, 0, 0.05);
  --box-hover: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --success-color: #2ecc71;
  --success-rgb: 46, 204, 113;
  --error-color: #e74c3c;
  --border-radius: 10px;
  --background: #f4f4f4;
  --Owner: #8e44ad;
  --Amministratore: #e74c3c;
  --Developer: #2980b9;
  --Moderatore: #27ae60;
  --Media: #ed78d0;
  --Vip: #1abc9c;
  --Builder: #FFC107;
  --Owner-rgb: 142, 68, 173;          
  --Amministratore-rgb: 231, 76, 60;  
  --Developer-rgb: 41, 128, 185;      
  --Moderatore-rgb: 39, 174, 96;      
  --Media-rgb: 237, 120, 208;         
  --Vip-rgb: 26, 188, 156;            
  --Builder-rgb: 255, 193, 7;
}