:root{
  --primary: #ff8c00;
  --secondary: rgba(255, 140, 0, 0.7);
  --font: 'Verdana', sans-serif;
  --hover-color: #ffffff;
  --transition-speed: 0.3s;
  --box: 0 4px 12px rgba(0, 0, 0, 0.05);
  --box-hover: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --border-radius: 10px;
  --background: #f4f4f4;
}